<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>districtNames</key>
	<array>
		<string>禅城区</string>
		<string>南海区</string>
		<string>顺德区</string>
		<string>高明区</string>
		<string>三水区</string>
		<string>佛山新城</string>
	</array>
	<key>district</key>
	<dict>
		<key>8CA6969D-DE76-45D2-BC84-8458F591DE13</key>
		<string>禅城区</string>
		<key>D27598E0-5BBF-4A33-B8B9-BA6F58DBD60C</key>
		<string>南海区</string>
		<key>7713B2AC-5650-0E41-A42D-3875A4D5E407</key>
		<string>顺德区</string>
		<key>E467C774-B407-0643-BD5D-849D13A7989F</key>
		<string>高明区</string>
		<key>0A29A154-D51E-0E4B-9009-B1096DFF1BC3</key>
		<string>三水区</string>
		<key>13AECD1C-C33B-A74E-A1F8-6131E1F0D8AB</key>
		<string>佛山新城</string>
	</dict>
	<key>street</key>
	<dict>
		<key>8CA6969D-DE76-45D2-BC84-8458F591DE13</key>
		<dict>
			<key>285AD8D3-174F-9742-AB73-E3163D0F3B05</key>
			<string>南庄镇</string>
			<key>285AD8D3-174F-9742-AB73-E3163D0F3B04</key>
			<string>石湾</string>
			<key>63B11378-A011-B84E-8D45-BF34A43686ED</key>
			<string>张槎</string>
			<key>C28AC370-7329-B04A-93D1-69F52980A991</key>
			<string>祖庙</string>
		</dict>
		<key>D27598E0-5BBF-4A33-B8B9-BA6F58DBD60C</key>
		<dict>
			<key>9ACF2308-24E5-4CCF-BBF9-0F9FCF1CCDF1</key>
			<string>桂城</string>
			<key>41C5D0ED-582C-2047-9DF3-FD16B2B230DB</key>
			<string>丹灶</string>
			<key>3532F4ED-7580-084D-A34A-4A3DE3F1978F</key>
			<string>九江</string>
			<key>E9263FCE-7A6A-DD4C-B67B-DDA4FEF62B20</key>
			<string>狮山</string>
			<key>A4D31765-86C5-5C41-B0EA-17F004CDD329</key>
			<string>西樵</string>
			<key>8CFA4D34-351B-D54F-8FF9-07C388E412B8</key>
			<string>里水</string>
			<key>0A8BB5E5-6FED-AECA-E040-007F01002ADA</key>
			<string>大沥镇</string>
		</dict>
		<key>7713B2AC-5650-0E41-A42D-3875A4D5E407</key>
		<dict>
			<key>25E8AAFE-4DCA-DC4F-B6FD-A197183ABCD1</key>
			<string>大良街道</string>
			<key>25E8AAFE-4DCA-DC4F-B6FD-A197183ABCD2</key>
			<string>容桂街道</string>
			<key>25E8AAFE-4DCA-DC4F-B6FD-A197183ABCD3</key>
			<string>伦教街道</string>
			<key>25E8AAFE-4DCA-DC4F-B6FD-A197183ABCD4</key>
			<string>勒流街道</string>
			<key>25E8AAFE-4DCA-DC4F-B6FD-A197183ABCD5</key>
			<string>陈村镇</string>
			<key>25E8AAFE-4DCA-DC4F-B6FD-A197183ABCD6</key>
			<string>北滘镇</string>
			<key>25E8AAFE-4DCA-DC4F-B6FD-A197183ABCD8</key>
			<string>龙江镇</string>
			<key>25E8AAFE-4DCA-DC4F-B6FD-A197183ABCD9</key>
			<string>杏坛镇</string>
			<key>25E8AAFE-4DCA-DC4F-B6FD-A197183ABCC1</key>
			<string>均安镇</string>
		</dict>
		<key>E467C774-B407-0643-BD5D-849D13A7989F</key>
		<dict>
			<key>11F64AEB-0C81-7B42-805D-3594B7020EDE</key>
			<string>杨和镇</string>
			<key>2242EDC9-94EA-9845-AE9D-F1AE5992EA3E</key>
			<string>更合镇</string>
			<key>59F54159-A496-F54B-BC27-DC5AA1404914</key>
			<string>明城镇</string>
			<key>D24E5030-C9F6-8649-A8D8-452012E3B8A8</key>
			<string>荷城</string>
			<key>7A23E5F5-F193-8811-E043-69FB82131185</key>
			<string>西江新城</string>
		</dict>
		<key>0A29A154-D51E-0E4B-9009-B1096DFF1BC3</key>
		<dict>
			<key>25E8AAFE-4DCA-DC4F-B6FD-A197183B8920</key>
			<string>云东海</string>
			<key>8C6CDBD9-F66D-0341-A453-A0D14C144964</key>
			<string>西南</string>
			<key>25E8AAFE-4DCA-DC4F-B6FD-A197183B8921</key>
			<string>白坭镇</string>
			<key>25E8AAFE-4DCA-DC4F-B6FD-A197183B8922</key>
			<string>乐平镇</string>
			<key>25E8AAFE-4DCA-DC4F-B6FD-A197183B8923</key>
			<string>大塘镇</string>
			<key>25E8AAFE-4DCA-DC4F-B6FD-A197183B8924</key>
			<string>芦苞镇</string>
			<key>25E8AAFE-4DCA-DC4F-B6FD-A197183B8925</key>
			<string>南山镇</string>
		</dict>
		<key>13AECD1C-C33B-A74E-A1F8-6131E1F0D8AB</key>
		<dict>
			<key>36D5AB0D-413A-F548-9ED7-A28B21B35AED</key>
			<string>佛山新城</string>
			<key>25E8AAFE-4DCA-DC4F-B6FD-A197183ABCD7</key>
			<string>乐从镇</string>
		</dict>
	</dict>
</dict>
</plist>
